<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <!-- App Favicon -->
        <link rel="shortcut icon" href="{% static 'teamanagement/images/favicon.ico' %}">

        <!-- App title -->
        <title>登陆页面</title>

        <!-- App css -->
        <link href="{% static 'teamanagement/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'teamanagement/css/core.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'teamanagement/css/components.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'teamanagement/css/icons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'teamanagement/css/pages.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'teamanagement/css/menu.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'teamanagement/css/responsive.css' %}" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <!-- Sweet Alert css -->
        <link href="{% static 'teamanagement/plugins/bootstrap-sweetalert/sweet-alert.css' %}" rel="stylesheet" type="text/css" />

        <script src="{% static 'teamanagement/js/modernizr.min.js' %}"></script>
        
    </head>
    <body>

        <div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
            <div class="text-center">
                <a href="/tea/index" class="logo"><span>超级<span>奶爸</span></span></a>
                <h5 class="text-muted m-t-0 font-600">管理系统</h5>
            </div>
        	<div class="m-t-40 card-box">
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0">登陆</h4>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal m-t-20">

                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="" placeholder="用户名" id="username">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" required="" placeholder="密码" id="password">
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-xs-12">
                                <div class="checkbox checkbox-custom">
                                    <input id="checkbox-signup" type="checkbox">
                                    <label for="checkbox-signup">
                                        Remember me
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="form-group text-center m-t-30">
                            <div class="col-xs-12">
                                <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light">登陆</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- end card-box-->
            
        </div>
        <!-- end wrapper page -->

        <!-- jQuery  -->
        <script src="{% static 'teamanagement/js/jquery.min.js' %}"></script>
        <script src="{% static 'teamanagement/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'teamanagement/js/detect.js' %}"></script>
        <script src="{% static 'teamanagement/js/fastclick.js' %}"></script>
        <script src="{% static 'teamanagement/js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'teamanagement/js/waves.js' %}"></script>
        <script src="{% static 'teamanagement/js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'teamanagement/js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'teamanagement/js/jquery.scrollTo.min.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'teamanagement/js/jquery.core.js' %}"></script>
        <script src="{% static 'teamanagement/js/jquery.app.js' %}"></script>

        <!-- Sweet Alert js -->
        <script src="{% static 'teamanagement/plugins/bootstrap-sweetalert/sweet-alert.min.js' %}"></script>
        <script src="{% static 'teamanagement/pages/jquery.sweet-alert.init.js' %}"></script>

        <script>
            var resizefunc = [];
        </script>

    	<script type="text/javascript">
            $(document).ready(function() {

                $(document).on('click', '.btn-custom', function(){
                    var username = $('#username').val();
                    var password = $('#password').val();
                    $.ajax({
                           type:"POST",
                           url:"/tea/login",
                           data:{"username":username, 'password':password},//传递数组
                           success:function (data) {
                               data = JSON.parse(data);
                               if(data['result'] == '账户或密码错误！'){
                                   swal({
                                        title: "Wrong!",
                                        text: data['result'],
                                        type: "error",
                                        showCancelButton: false,
                                        confirmButtonClass: 'btn-danger waves-effect waves-light',
                                        confirmButtonText: '返回!'
                                });
                               }else{
                                   window.location.href = '/tea/index';
                               }


                           },
                            error:function (data) {
                                swal({
                                        title: "Wrong!",
                                        text: "出错啦!",
                                        type: "error",
                                        showCancelButton: false,
                                        confirmButtonClass: 'btn-danger waves-effect waves-light',
                                        confirmButtonText: '返回!'
                                });
                               }
                       });
                });
            });

        </script>
	
	</body>
</html>